/* global.css */
:root {
    --primary-color: #f29815;
    --accent-color: #4CAF50;
    --danger-color: #ff4d4d;
    --text-color: #333;
    --bg-color: #f9f9f9;
    --font-main: 'Segoe UI', sans-serif;
  }
  
  * { box-sizing: border-box; margin: 0; padding: 0; }
  
  body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* HEADER */
  header {
    background-color: var(--primary-color);
  }
  .header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    padding: 1rem 20px;
    gap: 1rem;
  }
  .logo-wrapper img {
    width: 4rem;
  }
  .store-info {
    text-align: center;
    font-size: 0.9rem;
  }
  .store-info a {
    color: #fff;
    text-decoration: none;
  }
  .store-info a:hover {
    text-decoration: underline;
  }
  .page-title {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  /* Tipografia principal e botões genéricos */
  h1,h2,h3 { font-weight: 600; }
  button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 0.75rem 1rem;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-content p {
    margin: 0.5rem 0;
  }
  .footer-content a {
    color: var(--primary-color);
    text-decoration: none;
  }
  .footer-content a:hover {
    text-decoration: underline;
  }
  